body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #f8f9fa;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

:root {
  --size: clamp(10rem, 40vh, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 50s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.moblie_img {
  height: 50vh;
}

.project-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
