.logo { font-size:28px; font-weight: bold; margin-right: 40px; }

.naver-header {
  border-bottom: 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.naver-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.naver-header .search {
  width: 100%;
  max-width: 550px;
}

.naver-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.naver-tabs .tab-mask {
  margin-inline: 0;
  width: 100%;
}
.naver-tabs .tab-wrapper {
  width: 100%;
}
.naver-tabs ul.nav {
  width: 100%;
  justify-content: center;
}

.scroll-btn.left, .scroll-btn.right {
  position: static;
  margin: 0 4px;
}

.naver-tabs ul {
  display: flex;
  gap: 8px;
  padding: 5px;
  margin-inline: 5%;
}

.naver-tabs li {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}

.naver-tabs .nav-link {
  border-radius: 20px;
  background: #f7f7f9;
  color:#222225;
}

.naver-tabs .nav-link.active {
  background: #03C75A;
}

.naver-searchbar input {
  border: none;
}

.naver-searchbar button {
  background: #03C75A;
  border: none;
}

.content-section {
  background-color: #f7f7f9;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
  margin-block: 20px;
}

.blog-detail{
  display:none;
}