body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #f8f9fa;
  color: #222;
}
.logo { font-size:28px; font-weight: bold; margin-right: 40px; }
.naver-tabs ul { 
  display: flex; 
  gap: 8px;
  padding: 5px;
}
.naver-tabs li {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}
.naver-header {border-bottom: 1.5px }
.naver-header .logo { font-size: 2rem; font-weight: bold; letter-spacing: 1px; }
.naver-searchbar input { border: none; }
.naver-searchbar button { background: #03C75A; border: none; }
.naver-tabs .nav-link.active { 
  border-radius: 20px; 
  background: #03C75A; 
}
.naver-tabs .nav-link { 
  border-radius: 20px; 
  background: #f7f7f9; 
  color:#222225; 
}
.content-section:not(.visible) { display: none; }
.blog-preview { cursor:pointer;}
.blog-detail { display:none; }
#about {
  background-color: #f7f7f9;
  padding: 30px;
  display: flex; /* 부모 요소를 Flexbox로 설정 */
  justify-content: center; /* 내부 요소 가운데 정렬 */
  
}

.content-section { 
  padding: 44px; 
  max-width: 700px; 
  margin: auto;
  display: flex;
  flex-direction: column; /* 내부 요소를 세로로 정렬 */
  align-items: center; /* 내부 요소 가운데 정렬 */
}
.content-section.visible { display: block; }
.blog-detail { display:none; }